.footer {
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 300px;
    background-color: #000;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.footer_inner {
    width: 50%;
    color: #FFF;
    height: 300px;
    background-color: dimgray;
    float: left;
}

.text {
    padding: 12% 25%;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
}

.text span {
    font-size: 15px;
}

.text_intro {
    padding: 12% 12% 12% 0%;
    width: 10%;
    font-size: 10px;
    font-weight: lighter;
    float: left;
}

.text_intro span {
    font-size: 15px;
}

.text_intro p:hover {
    color: #000;
}