.billboard {
    margin-top: 3%;
    text-align: center;
    width: 100%;
    height: 500px;
    background: #34576D url(/images/bigpicbg.jpg) no-repeat center top;
}

.billboard h1 {
    font-size: 100px;
}

.billboard h3 {
    font-size: 50px;
}

.platform {
    width: 50%;
    margin: 0% 40%;
}

.platform_content {
    padding: 10px 10px;
    float: left;
}

.platform_content a {
    text-decoration: none;
}