.banner_img {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 97%;
    left: 0;
    z-index: 0;
    background: url(images/banner.jpg) no-repeat;
    background-size: 100% 200px;
}

.new_content {
    margin-top: 255px;
    padding: 0% 20%;
    overflow: auto;
    text-align: center;
}

.new_content p {
    display: block;
    font-size: 10px;
    width: 20%;
    float: left;
}

.new_content p:hover {
    color: aquamarine
}

.content_img {
    padding: 0% 8% 0% 10%;
    margin-top: 10px;
    overflow: auto;
}

.introduce {
    float: left;
    overflow: auto;
    text-align: center;
}

.tip {
    text-align: center;
}

.title {
    padding-left: 15%;
    margin-top: 3%;
    overflow: hidden;
}

.title_content {
    width: 25%;
    float: left;
    text-align: center;
}

.title_content p {
    font-size: 10px;
}